/* For 720 setup */
.col-xs-9 {width: 66.6666667%;}

#xpOuterContainer {display:none;}

/* Buffer between Video and Characters */
#qpAnimeContainer {margin-bottom: 150px;}

/* Video Container */
#qpVideoContainer {padding-top: 50%; margin-top: 7px;}
#qpHiderText {display:none;}

/* Score Board */
.qpScoreBoardNumber{font-size:16px}
.qpScoreBoardEntry {line-height: 20px;}
#qpStandingContainer{margin:0; max-height: 365px !important}
#qpStandingContainer h3 {text-align: left; margin: 22px 0 5px 5px;}
#qpStandingItemContainer{max-height: 330px !important}
#qpScoreBoardEntryContainer{height: 280px !important}
#qpAnimeContainer > div:first-child {padding:0; width: 230px;}
#qpStandingCorrectCount {text-shadow: none; font-size: 17px; text-align: right;}
.qpsPlayerScore.rightAnswer { text-shadow: 0 0 1px #D6FF00, 0 0 15px #D6FF00, 0 0 30px #D6FF00}

/* Score Board Resizing (Experimental)*/
#qpScoreBoardEntryContainer{transform: scale(0.71); width: 150%; transform-origin: left top;}
#qpScoreBoardEntryContainer .qpScoreBoardNumber {font-size:24px}
#qpScoreBoardEntryContainer .qpScoreBoardEntry {line-height: 33px;}
#qpScoreBoardEntryContainer .qpsPlayerScore, #qpScoreBoardEntryContainer .qpsPlayerName {font-size:21px}

/* Correct Players */
#correctPlayersContainer {background-color:#424242; box-shadow: 0 0 10px 2px rgb(0, 0, 0); max-width: 215px; padding: 4px; margin-top: 4px; text-align: left; height: 90px; overflow: hidden;}
#correctPlayersContainer h5 {margin: 0;}
#correctPlayers {overflow: hidden;}

/* Anime Name */
#qpAnimeNameContainer {margin-left: 0px;}
#qpAnimeNameHider {margin-left:15px; top:0;}
#qpAnimeName {text-align: left; position: static; transform:none; padding-left: 10px; text-overflow: ellipsis; overflow: hidden; font-size: 22px !important;}
#qpCounter {display:none;}

/* Anime Name to make it display song SecondarySongInfoContainer*/
#qpAnimeNameContainer, #qpAnimeNameHider{width: 610px; height: 119px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#qpAnimeNameHider{padding-top: 20px;}
#qpAnimeNameContainer .row:first-child {margin-top: 0;}
#qpAnimeNameContainer .row {margin: 1.5px 0; line-height: 16px;}
#qpAnimeNameContainer h5 {display:inline-block; text-align: right; font-size: 16px; margin: 0;}
#qpAnimeNameContainer p {display:inline-block; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-bottom: 0; vertical-align: bottom; font-size: 14px;}
#SecondarySongInfoContainer{margin-top: -3px;}
.SecondaryLeft {width: 97%; display: inline-block}
.SecondaryLeft h5 {width: 15%;}
.SecondaryLeft p {width: 75%;}

/* Song Info */
#qpInnerContainer {display:none;}
#qpSongVideoLink {display:none;}
#qpInfoHider {height: 100%; font-size: 50px;}
#qpAnimeCenterContainer + .col-xs-3 > .qpSideContainer.floatingContainer {display:none;}
#qpAnimeCenterContainer + .col-xs-3 .row:first-child {display:none;}
#qpAnimeCenterContainer + .col-xs-3 .row {margin: 1px 0;}
#qpAnimeCenterContainer + .col-xs-3 h5 {display:inline-block; width: 25%; text-align: right;}
#qpAnimeCenterContainer + .col-xs-3 p {display:inline-block; width: 73%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-bottom: 0; vertical-align: bottom;}
#qpCounterShadowHider {padding-top: 0;}
#qpReportFeedbackContainer {display:none;}

/* Video Player */
#qpVideosUserHidden {display:none;}

/* Chat */
#gameChatContainer {height: 250px; position: absolute; left: 870px;top: 120px; width: 410px;}
#gcChatMenu {height: 25px;}
#gcChatMenu h5 {font-size: 14px; margin: 5px 0; width: 105%;}
#gcMessageContainer {height: calc(100% - 23px); }
#gcMessageContainer li {padding: 3px 0 3px 3px}
#gcMessageContainer span {font-size: 14px;}
#gcEmojiPickerOuterContainer {display:none}
.gcInputContainer {height: 35px;}
.gcInputContainer > .textAreaContainer {width: calc(100% - 10px)}

/* Avatars */
#qpAvatarRow { max-height: 200px;}

/* Avatar Text
.qpAvatarLevelText {display:none;}
.qpAvatarNumberContainer {height: 30px !important; width: 44px !important; margin-top: -20px;}*/

/* Song Selector */
#qpAnswerInputContainer{margin-top: -300px; z-index: 50;}
.awesomplete > ul.ps {max-height:240px;}

/* Volume/ Settings */
#qpOptionContainer {height: 28px;}
#qpQualityList {box-shadow: 0 0; margin-bottom: 5px;}
#qpVolume, #qpOptionContainer .qpMenuItem {margin-top: 2px;}

/*Move Menu stuff offscreen*/
.topRightBackButton{left: 1300px;}
#qpReturnToLobbyButton{left: 1420px;}
#qpOptionContainer {right: -430px;}

/*Song Counter Container (made through custom js)*/
#songCounterContainer {background-color:#424242; box-shadow: 0 0 10px 2px rgb(0, 0, 0); width: 410px; padding: 4px; position: absolute; left: 870px; top: 0;}
#songCounterContainer .leftColumn {width: 165px; display: inline-block;}
#songCounterContainer .rightColumn {width: 165px; display: inline-block;}
#songCounterContainer .leftColumn h5 {width: 130px;}
#songCounterContainer .rightColumn h5 {width: 85px;}
#songCounterContainer .row{margin: 1px 0}
#songCounterContainer h5 {display:inline-block; width: 60px; text-align: right; margin: 0;}
#songCounterContainer h5:nth-child(9) {width: 50px;}
#songCounterContainer p {display:inline-block; text-align: left; margin: 0;}

#copySongData {display: block; position: absolute; left: 1400px; top: 200px; color: black;}
