/* For 720 setup */
#gameContainer .col-xs-9 {width: 66.6666667%;}

/* Buffer between Video and Characters */
#qpAnimeContainer {margin-bottom: 80px;}

/* Video Container */
#qpVideoContainerInner {display:none}
#qpHiderText {display:none;}

/* Score Board */
.qpScoreBoardNumber{font-size:16px}
.qpScoreBoardEntry {line-height: 20px;}
#qpStandingContainer{margin:0; max-height: 365px !important}
#qpStandingContainer h3 {text-align: left; margin: 22px 0 5px 5px;}
#qpStandingItemContainer{max-height: 330px !important}
#qpScoreBoardEntryContainer{height: 280px !important}
#qpAnimeContainer > div:first-child {padding:0; width: 230px;}
#qpStandingCorrectCount {text-shadow: none; font-size: 17px; text-align: right;}
.qpsPlayerScore.rightAnswer { text-shadow: 0 0 1px #D6FF00, 0 0 15px #D6FF00, 0 0 30px #D6FF00}

/* Score Board Resizing (Experimental)*/
#qpScoreBoardEntryContainer{transform: scale(0.71); width: 150%; transform-origin: left top;}
#qpScoreBoardEntryContainer .qpScoreBoardNumber {font-size:24px}
#qpScoreBoardEntryContainer .qpScoreBoardEntry {line-height: 33px;}
#qpScoreBoardEntryContainer .qpsPlayerScore, #qpScoreBoardEntryContainer .qpsPlayerName {font-size:21px}

/* Get rid of the new elements created by the script*/
#qpStandingContainer > div:nth-child(1) > div:nth-child(n+2):nth-child(-n+6) {display: none;}
#rigTrackingHeader {display:none}
.qpStandingItem div:nth-child(n+3){display:none}

/* Correct Players */
#correctPlayersContainer {background-color:#424242; box-shadow: 0 0 10px 2px rgb(0, 0, 0); max-width: 215px; padding: 4px; margin-top: 4px; text-align: left; height: 90px; overflow: hidden;}
#correctPlayersContainer h5 {margin: 0;}
#correctPlayers {overflow: hidden;}

/* Anime Name */
#qpAnimeNameContainer {margin-left: 0px;}
#qpAnimeNameHider {margin-left:0px; top:0;}
#qpAnimeName {text-align: left; position: static; transform:none; padding-left: 10px; text-overflow: ellipsis; overflow: hidden; font-size: 22px !important;}
#qpCounter {display:none;}

/* Anime Name to make it display song SecondarySongInfoContainer*/
#qpAnimeNameContainer, #qpAnimeNameHider{width: 625px; height: 119px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#qpAnimeNameHider{padding-top: 20px;}
#qpAnimeNameContainer .row:first-child {margin-top: 0;}
#qpAnimeNameContainer .row {margin: 1.5px 0; line-height: 16px;}
#qpAnimeNameContainer h5 {display:inline-block; text-align: right; font-size: 16px; margin: 0;}
#qpAnimeNameContainer p {display:inline-block; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-bottom: 0; vertical-align: bottom; font-size: 14px;}
#SecondarySongInfoContainer{margin-top: -3px;}
.SecondaryLeft {width: 97%; display: inline-block}
.SecondaryLeft h5 {width: 14%;}
.SecondaryLeft p {width: 77%;}

/* Song Info */
#qpInnerContainer {display:none;}
#qpSongVideoLink {display:none;}
#qpInfoHider {height: 100%; font-size: 50px;}
#qpAnimeCenterContainer + .col-xs-3 > .qpSideContainer.floatingContainer {display:none;}
#qpAnimeCenterContainer + .col-xs-3 .row:first-child {display:none;}
#qpAnimeCenterContainer + .col-xs-3 .row {margin: 1px 0;}
#qpAnimeCenterContainer + .col-xs-3 h5 {display:inline-block; width: 25%; text-align: right;}
#qpAnimeCenterContainer + .col-xs-3 p {display:inline-block; width: 73%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-bottom: 0; vertical-align: bottom;}
#qpCounterShadowHider {padding-top: 0;}
#qpReportFeedbackContainer {display:none;}

/* Video Player */
#qpVideosUserHidden {display:none;}
#qpVideoContainer {display:none;}

/* Chat */
#gameChatContainer {height: 230px; position: absolute; left: 870px;top: 140px; width: 410px;}
#gcChatMenu {height: 25px;}
#gcChatMenu h5 {font-size: 14px; margin: 5px 0; width: 105%;}
#gcMessageContainer {height: calc(100% - 23px); }
#gcMessageContainer li {padding: 3px 0 3px 3px}
#gcMessageContainer span {font-size: 14px;}
#gcEmojiPickerOuterContainer {display:none}
.gcInputContainer {height: 35px;}
.gcInputContainer > .textAreaContainer {width: calc(100% - 10px)}

/* Avatars */
#qpAvatarRow { max-height: 200px;}

/* Avatar Text
.qpAvatarLevelText {display:none;}
.qpAvatarNumberContainer {height: 30px !important; width: 44px !important; margin-top: -20px;}*/

/* Song Selector */
#qpAnswerInputContainer{margin-left: 1100px; z-index: 50; position: absolute;}
.awesomplete > ul.ps {max-height:650px;}

/* Volume/ Settings */
#qpOptionContainer {height: 28px;}
#qpQualityList {box-shadow: 0 0; margin-bottom: 5px;}
#qpVolume, #qpOptionContainer .qpMenuItem {margin-top: 2px;}

/*Move Menu stuff offscreen*/
.topRightBackButton{left: 1300px;}
#qpReturnToLobbyButton{left: 1420px;}
#qpOptionContainer {right: -430px;}

/*Song Counter Container (made through custom js)*/
#qpAnimeCenterContainer {padding-left: 0;}
#songCounterContainer {background-color:#424242; box-shadow: 0 0 10px 2px rgb(0, 0, 0); width: 410px; padding: 4px; position: absolute; left: 870px; top: 0;}
#songCounterContainer .leftColumn {width: 165px; display: inline-block;}
#songCounterContainer .rightColumn {width: 215px; display: inline-block;}
#songCounterContainer .leftColumn h5 {width: 130px;}
#songCounterContainer .rightColumn h5 {width: 85px;}
#songCounterContainer .row{margin: 1px 0}
#songCounterContainer h5 {display:inline-block; width: 60px; text-align: right; margin: 0;}
#songCounterContainer p {display:inline-block; text-align: left; margin: 0;}

/*Anime Name Counter Container (made through custom js)*/
#playerInfoContainer {background-color:#424242; box-shadow: 0 0 10px 2px rgb(0, 0, 0); width: 625px; padding: 4px; margin-top: 5px;}
#playerInfoContainer .leftColumn {width: 302px; display: inline-block;}
#playerInfoContainer .rightColumn {width: 302px; display: inline-block;}
#playerInfoContainer .row{margin: 1px 0}
#playerInfoContainer h5 {display:inline-block; width: 230px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; text-align: right; margin: 0; vertical-align: middle;}
#playerInfoContainer p {display:inline-block; width: 30px; text-align: left; margin: 0; font-size: 16px; vertical-align: middle;}

#rigExplanationContainer {display:none;}

#copySongData {display: block; position: absolute; left: 1400px; top: 70px; color: black;}
#getPastebinUrl {display: block; position: absolute; left: 1480px; top: 70px; color: black;}
